.load-file {
    margin-bottom: 10px;
    transition: var(--switch-time);
    border: none;
}

.load-button-day{
    position: relative;  
    border: 1px solid var(--black);
    border-radius: 0.3125rem;
    color: var(--black);
    transition: var(--switch-time);
    background-color: rgb(255, 255, 255);
}

.load-button-day::file-selector-button {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    outline: 1px solid var(--black);
    color: var(--black);
    background-color: var(--yellow);
    border: none;
    transition: var(--switch-time);
}

.load-button-day::file-selector-button:hover {
    background-color: var(--red); 
}

.load-button-night {
    position: relative;
    border: 1px solid var(--white-text);
    border-radius: 0.3125rem;
    color: var(--white-text);
    transition: var(--switch-time);
}

.load-button-night::file-selector-button {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    outline: 1px solid var(--white-text);
    color: var(--white-text);
    background-color: var(--dark-green);   
    border: none;
    transition: var(--switch-time);
}

.load-button-night::file-selector-button:hover {
    background-color: var(--light-green);
}

.confirmButton-day {
    background-color: var(--yellow) !important;
    color: var(--black) !important;
    transition: var(--switch-time) !important;
}

.confirmButton-day:hover {
    background-color: var(--red) !important;
}

.confirmButton-night {
    background-color: var(--dark-green) !important;
    color: var(--white-text) !important;
    transition: var(--switch-time) !important;
}

.confirmButton-night:hover {
    background-color: var(--light-green) !important;
}